footer
    .container.text-center
        p.pull-left Georgia Tech - CS 4460 | Team Stocks 'n Stuff
        ul.pull-right.list-inline
            li
                //a(href='https://github.com/sahat/hackathon-starter') GitHub Project
            li
                //a(href='https://github.com/sahat/hackathon-starter/issues') Issues