<body>
<h3>label the graph</h3>

<script src="/js/time-series.js"></script>

<form class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
        <div class="input-group">
            <div class="input-group-addon">BMI</div>
            <input type="text" class="form-control" id="min" placeholder="Min">
            <input type="text" class="form-control" id="max" placeholder="Max">
        </div>
    </div>
    <button type="submit" class="btn btn-primary" id="Search">Filter</button>
    <button type="submit" class="btn btn-primary" id="Clear">Reset</button>
</form>
</body>