extends layout

block content

    // Gridline filter
    #filtering.col-xs-1
        .div
            h1
            | Event Flags by Co.
            .checkbox
                input(type='checkbox', name='vehicle', value='AAPL', checked, onclick='updateTimeSeriesMarkers(value, checked)')
                |  #{phoneData[0][0].symbol}
            .checkbox
                input(type='checkbox', name='vehicle', value='GOOG', checked, onclick='updateTimeSeriesMarkers(value, checked)')
                |  #{phoneData[1][0].symbol}
            .checkbox
                input(type='checkbox', name='vehicle', value='MSI', checked, onclick='updateTimeSeriesMarkers(value, checked)')
                |  #{phoneData[3][0].symbol}

    // Time series
    #chart.col-xs-10

    script(type="text/javascript" src="js/stacked-graph.js")
    script(type="text/javascript" src="js/phoneInfo.js")

