extends layout

block content
    .row
        #chart.col-xs-8.col-md-8.col-sm-8
        #phoneInfo.col-xs4.col.md-4.col-sm-4

    script(type="text/javascript" src="js/c3rework.js")
    script(type="text/javascript" src="js/phoneInfo.js")

