body {
    font: 18px sans-serif;
}

text.xText {
    fill: black;
    font: 15px sans-serif;
    text-anchor: middle;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

svg {
    font: 10px sans-serif;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
}