body {
    font: 18px sans-serif;
    padding-top: 60px;
    margin-bottom: 75px;
}

text.xText {
    fill: black;
    font: 15px sans-serif;
    text-anchor: middle;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

svg {
    font: 10px sans-serif;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
}

img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.fragment {
    font-size: 12px;
    font-family: sans-serif;
    height: 110px;
    border: 1px solid #ccc;
    color: #555;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    width: 200px;
}

.fragment p {
 margin-bottom: 2px;
}

.fragment:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}

.markerBoxes td {
    padding: 10px;
}

.closeX {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}

.closeX:hover {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
}
